/* Landing.module.css */
.container {
  background-color: #FFFBF5;
  padding: 20px;
}

.title {
  color: #7743DB;
  font-size: 2rem;
  margin-bottom: 20px;
}

.postGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.post {
  background-color: #F7EFE5;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  text-align: center;
}

.image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.postTitle {
  color: #7743DB;
  font-weight: bold;
  margin-top: 10px;
}
