/* .container {
  top: 0;
  z-index: 1;
  width: 10%;
  height: 80px;
  display: flex;
  position: fixed;
  padding: 14px 21px;
  align-items: center;
  background: white;
  border-bottom: 1px solid rgb(200, 200, 200);
  margin: ;
} */

.container {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  height: 80vh;
  /* width: fit-content; */
  border: 2px solid #1e1038;
  border-radius: 8px;
  margin: 5rem;
  font-weight: bold;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding: 1rem;
    text-align: center;
    user-select: none;
  }

  a {
    width: 100%;
    padding: 0.9rem;
    border-radius: 4px;
    text-decoration: none;
  }

  a:visited {
    color: inherit;
  }


}

.linkBgSelected {
  background-color: #7743DB;
  padding: 1rem;
  border-radius: 4px;
  color: #fffbf5;
  transition: background-color 0.3s;
}

.linkBg {
  padding: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.linkBg:hover {
  background-color: #C3ACD0;
  color: #FFFBF5;
  font-weight: bold;
}
